<div id="tiscui_ajax">
    <table>
        <tbody>
        <tr>
			<td><input type="checkbox" onclick="if_option(this)" checked></td>
            <td>REST page</td>
            <td><input id="rest_page_input" type="text" value="REST.jsp"></td>
			<td><button onclick="copy_value(this)"> &#60 </button></td>
            <td><select>
				<option></option>
				<option>REST.jsp</option>
				<option>REST-TEST.jsp</option>
				<option>tisc.jsp</option>
			</select></td>
        </tr>
        <tr>
			<td><input type="checkbox" onclick="if_option(this)" checked></td>
            <td>Subsys</td>
            <td><input id="subsys_input" type="text" value="TISC"></td>
			<td><button onclick="copy_value(this)"> &#60 </button></td>
            <td><select>
				<option></option>
                <option>TISC</option>
                <option>PSQL</option>
                <option>SAM</option>
                <option>DIC</option>
                <option>TIS</option>
            </select></td>
        </tr>
        <tr>
			<td><input type="checkbox" onclick="if_option(this)" checked></td>
            <td>Request</td>
            <td><input id="req_input" type="text" value="view"></td>
			<td><button onclick="copy_value(this)"> &#60 </button></td>
            <td><select>
				<option></option>
                <option>list</option>
                <option>view</option>
                <option>find</option>
                <option>create</option>
                <option>edit</option>
                <option>save</option>
            </select></td>
        </tr>
        <tr>
			<td><input type="checkbox" onclick="if_option(this)" checked></td>
            <td>Target</td>
            <td><input id="target_input" type="text"></td>
			<td><button onclick="copy_value(this)"> &#60 </button></td>
            <td><select>
				<option></option>
                <option>D</option>
                <option>C</option>
                <option>A</option>
            </select></td>
        </tr>
        <tr>
			<td><input type="checkbox" onclick="if_option(this)" checked></td>
            <td>ZID</td>
            <td><input id="ZID_input" type="text"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
			<td><input type="checkbox" onclick="if_option(this)" checked></td>
            <td>Method</td>
            <td><input id="method_input" type="text" value="POST"></td>
			<td><button onclick="copy_value(this)"> &#60 </button></td>
            <td><select>
				<option></option>
                <option>POST</option>
                <option>GET</option>
                <option>PUT</option>
                <option>OPTION</option>
                <option>HEAD</option>
                <option>DELETE</option>
            </select></td>
        </tr>
		<tr>
			<td><input type="checkbox" onclick="if_option(this)" checked></td>
            <td>Tail</td>
            <td><input id="tail_input" type="text"></td>
        </tr>
        <tr>
			<td><input type="checkbox" onclick="if_option(this)" checked></td>
            <td>Mime-type</td>
            <td><input id="mimetype_input" type="text" value="application/json"></td>
			<td><button onclick="copy_value(this)"> &#60 </button></td>
            <td><select>
				<option></option>
                <option>application/json</option>
				<option>application/x-www-form-urlencoded</option>
                <option>image/gif</option>
                <option>text/plain</option>
                <option>text/html</option>
            </select></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button onclick="clicked_server()">Execute</button></td>
			<td></td>
        </tr>
        <tr>
			<td></td>
            <td>Request: <a href="#" target="_" id="get_request_link">get_it</a> body:</td>
        </tr>
		<tr>
			<td></td>
			<td colspan="4"><textarea id="request_area" rows="2" cols="60"></textarea></td>
		</tr>
		<tr>
			<td></td>
            <td>Answer</td>
            <td><button onclick="test_json()">Test JSON</button></td>
		</tr>
		<tr>
			<td></td>
            <td colspan="4"><textarea id="server_response" rows="10" cols="60"></textarea></td>
			<td id="json_area" style="visibility: hidden;">
			<div class="area_ha">
			<style>
				.area_ha {
					position: relative;
				}
				.area_ha textarea {
					width: 100%;
					height: 100%;
					box-sizing: border-box;
				}
				.area_ha button {
					position: absolute;
					top: 0;
					right: 0;
				}
			</style>
				<textarea id="json_check" rows="10" cols="20"></textarea>
				<button onclick="hide_jsonarea()">x</button></td>
			</div>
		</tr>
		</tbody>
	</table>
	<script src="ajax/select_link.js"></script>
</div>
