<div>
    <table>
        <tbody>
        <tr>
            <td>Subsys</td>
            <td><input type="text"></td>
            <td><select onclick="select_input()">
                <option>TISC</option>
                <option>PSQL</option>
                <option>SAM</option>
            </select></td>
        </tr>
        <tr>
            <td>Request</td>
            <td><input type="text"></td>
            <td><select onclick="select_input()">
                <option>list</option>
                <option>find</option>
                <option>create</option>
            </select></td>
        </tr>
        <tr>
            <td>Target</td>
            <td><input type="text"></td>
            <td><select onclick="select_input()">
                <option>D</option>
                <option>C</option>
                <option>A</option>
            </select></td>
        </tr>
        <tr>
            <td>ZID</td>
            <td><input type="text"></td>
            <td><select onclick="select_input()">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select></td>
        </tr>
        <tr>
            <td>Method</td>
            <td><input type="text"></td>
            <td><select onclick="select_input()">
                <option>POST</option>
                <option>GET</option>
                <option>PUT</option>
                <option>OPTION</option>
                <option>HEAD</option>
                <option>DELETE</option>
            </select></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button>Execute</button></td>
        </tr>
        <tr>
            <td>Mime-type</td>
            <td><input type="text"></td>
            <td><select onclick="select_input()">
                <option>application/json</option>
                <option>image/gif</option>
                <option>text/plain</option>
                <option>text/html</option>
            </select></td>
        </tr>
        <tr>
            <td>Request body:</td>
        </tr>
    <tr>
        <td colspan="4"><textarea rows="10" cols="60">
            </textarea></td>
    </tr>
    <tr>
            <td>Answer</td>
            <td><button>Test JSON</button></td>
    </tr>
    <tr>
            <td colspan="4"><textarea rows="10" cols="60">
            </textarea>
            </td>
    </tr>
    </tbody>
</table>
<script src="select_link.js"></script>
</div>