/*
# ConcepTIS project
# (c) Alex V Eustrop 2018
#
# http://EustroSoft.org
#
# see LICENSE at the project's root directory
# $Id$
#
*/
/*
*
 Base name template for classes: TISCUI* (from TIS/SQL Concept User Interface)
 The same for id : ticsui_*

 TISC UI classes:
 TISCUIGeneric - generi div with no special effects. really the same as no class at all.
 TISCUIPage - generic "page" element, should looks like paper
 TISCUIWindow - generic "window" element, should look like floating window with title
 TISCUIWindowModal - the same as above but modal
 TISCUIWTitle - title of window
 TISCUIMsgBox - like modal message box
 TISCUIImage - some image
 TISCUIImageCenter - some image
 TISCUIImageLeft - some image, left float
 TISCUIImageRight - some image, right float
 TISCUIImageFloat - some image
 TISCUIImageFCenter - some image
 TISCUIImageFLeft - some image, left float
 TISCUIImageFRight - some image, right float
 TISCUIInput - Generic input class
 TISCUIIText
 TISCUIICombo
 TISCUIITextArea
 TISCUIIPassword
 TISCUIILogin

 Menu :

 Tables & Grids :
 TISCUITable
 TISCUIHeader
 TISCUIHCell
 TISCUIRow
 TISCUICell
 TISCUIFooter

 Special single-member classes :

 TISCUIHeader (#tiscui_header) - html page header
 TISCUIHeaderLogo (#tiscui_header_logo) - logo for html page header
 TISCUIHeaderMenu (#tiscui_header_menu) - html page header
 TISCUIHMItem* (#tiscui_hmitem*) - html page header
 TISCUIFooter (#tiscui_footer) - ...
 TISCUILeft (#tiscui_left) - ...
 TISCUIRight (#tiscui_right) - ...
 TISCUIMain (#tiscui_main) - main space for WEBApp content
 TISCUIHidden (#tiscui_hidden) - hidden content at the tail of the page

*/


/* Generic tags styles */
body {
	width: 100%;
	height: 100%;
	color: #333;
	background: #DFE;
	font-size: 1em;
	font-family: "Tahoma", sans-serif;
	line-height: 135%;
}
a {
	color:blue;
	text-decoration: none;
}


.TISCUIHeader {
	witdh : 100%;
	background: #CED;
	position: top;
 }
.TISCUIHeaderLogo {
	witdh : 100%;
 }
.TISCUIHeaderMenu {
	witdh : 100%;
	background: #CED;
	}
.TISCUIHMenuItem {
	float : left;
	background: #696;
	padding: 10px 15px 10px 15px;
	}
.TISCUIHMenuItemLast {
	float : clear;
	background: #696;
	padding: 10px 15px 10px 15px;
	}
// .TISCUIHMItem* (#tiscui_hmitem*) - html page header
.TISCUIFooter { witdh : 100%;  }
.TISCUILeft {
	witdh : 10em;
	height : 1000px;
	background: #696;
	float : left; 
	//position: fixed;
	}
.TISCUILeftMenu {
	witdh : 15%;
	background: #676;
	//position: fixed;
	}
.TISCUIRight {
	witdh : 15%;
	background: #696;
	float : right;
 }
.TISCUIMain {
	padding-left : 6em;
	width : 90%;
	background: #DDD;
	color: #222;
 }

.TISCUIHidden { display : none; }

