@keyframes left_side_hover {
	to {
		height: 100px;
	}
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}
header {
	font-weight: 600;
	position: absolute;
}
nav {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	height: 40px;
	background: grey;

}
.main_logo, .header_logo {
	font-weight: 700;
}
.header_nav {
	margin: 0;
	display: flex;
	justify-content: space-around;
}
.header_nav > * { 
	width: 80px;
	padding: 10px;
	text-align: center;
}
.header_nav > *:hover {
	background: yellow;
}
.wrapper {
	max-width: 1300px;
	background: #f6f5f3;
	margin: 0 auto;
	height: 100vh;
	display: flex;
	position: relative;
}
.left_side {
	order: 0;
}
.right_side, .left_side {
	margin-top: 40px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background: #c9c5bb;
}
.right_side {
	order: 2;
}
.main_content {
	position: relative;
	flex-grow: 7;
	order: 1;
	height: 100vh;
}
.left_nav {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
.left_nav > * {
	padding: 15px;
	text-align: center;
}
.left_nav > * > * {
	display: flex;
	flex-direction: column;
}
.sam_hover {
	display: none;
}
.left_sam:hover {
	animation: left_side_hover .1s forwards;
}
.left_sam:hover .sam_hover {
	display: flex;
}
.sam_hover {
	margin-top: 10px;
}
