<input type="file" />
<pre>
<div class="output"></div>
</pre>

<script>
// this code based on reading
// https://developer.mozilla.org/en-US/docs/Web/API/File_API
const fileInput = document.querySelector("input[type=file]");
const output = document.querySelector(".output");

function byte2hex(b)
{
 if(b<0x10) return("0"+b.toString(16));
 return(b.toString(16));
}

fileInput.addEventListener("change", () => {
  const [file] = fileInput.files;
  if (file) {
    const reader = new FileReader();
    reader.addEventListener("load", () => {
      const view = new Uint8Array(reader.result);
      //output.innerText = view.length +"\n";
      //output.innerText = output.innerText + view +"\n";
      chunkno = 0;
      chunksize=1024*10;
      i=0;
      output.innerText = "";
      output.innerText = output.innerText + "//file size :" + view.length +"\n";
      output.innerText = output.innerText + "//chunk max size :" + chunksize +"\n\n";
      output.innerText = output.innerText + "//create file requst\n";
       j= ""; //JSON of request
       j= j+ "{\n\t\"r\":{\n";
       j= j+ "\t\t\"s\":\"cms\",\n";
       j= j+ "\t\t\"r\":\"create_file\",\n";
       j= j+ "\t\t\"fs_QOID\":12344,\n";
       j= j+ "\t\t\"path\":\"/some/path/to/\",\n";
       j= j+ "\t\t\"name\":\"new_file.bin\",\n";
       j= j+ "\t\t\"QOID\":null,\n";
       j= j+ "\t\t\"QVER\":null,\n";
       j= j+ "\t\t\"t\":0\n";
       j= j+ "\t},\n";
       j= j+ "\t\"t\":0\n";
       j= j+ "}\n";
       output.innerText = output.innerText + "\n" + j;
      output.innerText = output.innerText + "//create file response\n";
       j= ""; //JSON of response
       j= j+ "{\n\t\"r\":{\n";
       j= j+ "\t\t\"s\":\"cms\",\n";
       j= j+ "\t\t\"r\":\"create_file\",\n";
       j= j+ "\t\t\"e\":0,\n";
       j= j+ "\t\t\"m\":\"Ok\",\n";
       j= j+ "\t\t\"QOID\": 12345,\n";
       j= j+ "\t\t\"QVER\":1,\n";
       j= j+ "\t\t\"t\":0\n";
       j= j+ "\t},\n";
       j= j+ "\t\"t\":123\n";
       j= j+ "}\n";
       output.innerText = output.innerText + "\n" + j;
      while(i<view.length)
      {
       s = "\\\\x";
       s2 = "";
       for(k=0;k<chunksize;k++)
       {
	s=s+byte2hex(view[i]);
	i++;
	if(i>=view.length) break;
       }
       j= ""; //JSON chunk write request
       j= j+ "{\n\t\"r\":{\n";
       j= j+ "\t\t\"s\":\"cms\",\n";
       j= j+ "\t\t\"r\":\"write_chunk\",\n";
       j= j+ "\t\t\"QOID\":12345,\n";
       j= j+ "\t\t\"QVER\":1,\n";
       j= j+ "\t\t\"chunkno\":" + chunkno + ",\n" ;
       j= j+ "\t\t\"chunk_size\":" + k + ",\n";
       j= j+ "\t\t\"chunk_data\":\"" + s + "\",\n";
       j= j+ "\t\"t\": 111\n";
       j= j+ "\t},\n";
       j= j+ "\t\"t\":0\n";
       j= j+ "}\n";
       output.innerText = output.innerText + "\n// request to create chunk " + chunkno ;
       output.innerText = output.innerText + "\n" + j;
       // response
       output.innerText = output.innerText + "\n// response to create chunk " + chunkno ;
       j="";
       j= j+ "{\n\t\"r\":{\n";
       j= j+ "\t\t\"s\":\"cms\",\n";
       j= j+ "\t\t\"r\":\"write_chunk\",\n";
       j= j+ "\t\t\"e\":0,\n";
       j= j+ "\t\t\"m\":\"Ok\",\n";
       j= j+ "\t\t\"QOID\":12345,\n";
       j= j+ "\t\t\"QVER\":1,\n";
       j= j+ "\t\t\"QRID\":" + (1 + chunkno) + ",\n";
       j= j+ "\t\t\"chunkno\":" + chunkno + ",\n" ;
       j= j+ "\t\t\"chunk_size\":" + k + ",\n";
       j= j+ "\t\t\"t\":0\n";
       j= j+ "\t},\n";
       j= j+ "\t\"t\": 1231\n";
       j= j+ "}\n";
       output.innerText = output.innerText + "\n" + j;
       // next chunk
       chunkno++;
      }
      // last requst to commit file`
      output.innerText = output.innerText + "//commit file requst\n";
       j= ""; //JSON of request
       j= j+ "{\n\t\"r\":{\n";
       j= j+ "\t\t\"s\":\"cms\",\n";
       j= j+ "\t\t\"r\":\"commit_file\",\n";
       j= j+ "\t\t\"QOID\":12345,\n";
       j= j+ "\t\t\"QVER\":1,\n";
       j= j+ "\t\"t\": 0\n";
       j= j+ "\t},\n";
       j= j+ "\t\"t\":0\n";
       j= j+ "}\n";
       output.innerText = output.innerText + "\n" + j;
      output.innerText = output.innerText + "//commit file response\n";
       j= ""; //JSON of response
       j= j+ "{\n\t\"r\":{\n";
       j= j+ "\t\t\"s\":\"cms\",\n";
       j= j+ "\t\t\"r\":\"commit_file\",\n";
       j= j+ "\t\t\"e\":0,\n";
       j= j+ "\t\t\"m\":\"Ok\",\n";
       j= j+ "\t\t\"QOID\": 12345,\n";
       j= j+ "\t\t\"QVER\":1,\n";
       j= j+ "\t\"t\": 0\n";
       j= j+ "\t},\n";
       j= j+ "\t\"t\":223\n";
       j= j+ "}\n";
       output.innerText = output.innerText + "\n" + j;
    });
    reader.readAsArrayBuffer(file);
  }
});


</script>
